/* Hide Contributor Data */
.metadata {
	opacity: 0;
}

/* Fix navbar stuff */
.navbar-collapse {
	justify-content: flex-start !important;
}

.navbar-nav,
.navbar-nav li {
	list-style: none !important;
}

.admonition {
	border: 1px solid rgba(0, 0, 0, .125);
	border-left-width: .25rem;
	border-radius: .25rem;
	padding: 0.75rem 0.75rem 0.75rem 1.75rem;
	margin: 1rem 0;
	background: #fff;
}

.admonition-title {
	font-weight: 600;
	margin-bottom: .5rem;
}

.admonition.important {
	border-left-color: #8d0dfd;
}

.admonition.note {
	border-left-color: #0d6efd;
}

.admonition.warning {
	border-left-color: #fd7e14;
}

.admonition.caution {
	border-left-color: #dc3545;
}

.admonition.tip {
	border-left-color: #198754;
}

table td,
table th {
	padding: 0.5rem 0.75rem;
	border: 1px solid rgb(50, 50, 50);
}

.dropdown-menu {
	min-width: 12rem;
	max-width: 22rem;
}

.dropdown-menu .dropdown-item {
	white-space: normal !important;
	overflow-wrap: anywhere;
	line-height: 1.2;
	border-bottom: 0.5px solid #303030;
	padding: 0.5rem 1rem;
}

.dropdown-menu>li:last-child,
.dropdown-menu>li:last-child>a {
	border: 0 !important;
}

.dropdown-submenu {
	position: relative;
}

/* Place submenu to the right */
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -0.25rem;
}

/* Show submenu on hover (desktop) */
@media (hover: hover) and (pointer: fine) {
	.dropdown-submenu:hover>.dropdown-menu {
		display: block;
	}
}

/* Caret indicator */
.dropdown-submenu>a::after {
	content: "›";
	float: right;
	opacity: 0.7;
}

h1,
h2 {
	margin: 1.5rem 0;
}

h3,
h4 {
	margin: 1rem 0;
}